---
import UpitnikForm from "@/components/UpitnikForm"
import Layout from "../layouts/Layout.astro"
import PageLayout from "../layouts/PageLayout.astro"
---

<Layout
  title="Upitnik za izradu web stranice – WebLifeSupport"
  description="Ispunite upitnik kako bismo mogli precizno procijeniti vaše potrebe za web stranicu. Brza i kvalitetna izrada, podrška i dizajn po mjeri."
>
  <PageLayout title="Upitnik za izradu web stranice">
    <div class="mx-auto text-base leading-relaxed space-y-6">
      <p>Nije potrebno popuniti sva polja, popunite ono što znate.</p>
      <p>
        Možete započeti sa jednostavnijim projektom i po potrebi dodavati
        funkcionalnosti. Neka vaša web stranica raste zajedno s vašim
        poslovanjem.
      </p>
      <UpitnikForm client:load />
    </div>
  </PageLayout>
</Layout>
