<section class="bg-transparent text-center py-16 px-6">
  <h2 class="text-3xl md:text-4xl text-white mb-4">
    Spremni za redizajn ili novu web stranicu?
  </h2>
  <h3 class="text-lg text-gray-200 mb-8 max-w-xl mx-auto">
    Nudimo besplatno savjetovanje i analizu.
  </h3>
  <a
    href="/kontakt-weblifesupport"
    class="inline-block bg-transparent text-white px-6 py-3 rounded-2xl text-base font-medium hover:bg-gray-800 transition-colors border-1 border-white"
  >
    Kontaktirajte nas
  </a>
</section>
