---
import { Toaster } from "@/components/components/ui/sonner"
import Footer from "../components/Footer.astro"
import Navbar from "../components/Navbar"
import "../styles/global.css"
import Analytics from "@vercel/analytics/astro"
import { BackgroundAnimation } from "@/components/BackgroundAnimation"
interface Props {
  metaTitle: string
  metaDescription: string
  robots?: string
  ogTitle?: string
  ogDescription?: string
  ogImage?: string
  ogType?: string
}
const {
  metaTitle,
  metaDescription,
  robots,
  ogTitle,
  ogDescription,
  ogImage,
  ogType,
} = Astro.props as Props
---

<!doctype html>
<html lang="hr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {
        metaTitle ||
          "Izrada web stranica koje prate vaš poslovni rast | WebLifeSupport"
      }
    </title>
    <meta
      name="description"
      content={metaDescription ||
        "Gradimo moderne, brze i pouzdane web stranice koje rastu zajedno s vašim poslovanjem. Najmodernije tehnologije i stručna podrška | WebLifeSupport."}
    />
    {robots && <meta name="robots" content={robots} />}

    <!-- Favicons -->
    <link rel="icon" href="/favicon32.png" sizes="32x32" type="image/png" />
    <link rel="icon" href="/favicon16.png" sizes="16x16" type="image/png" />
    <link rel="apple-touch-icon" href="/favicon180.png" sizes="180x180" />
    <link
      rel="icon"
      href="/favicon128.ico"
      sizes="128x128"
      type="image/x-icon"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- Open Graph meta tagovi -->
    <meta property="og:title" content={ogTitle || metaTitle} />
    <meta
      property="og:description"
      content={ogDescription || metaDescription}
    />
    <meta property="og:image" content={ogImage || "/default-og-image.png"} />
    <meta property="og:type" content={ogType || "website"} />
  </head>
  <body class="flex flex-col min-h-screen">
    <div class="absolute inset-0 -z-10">
      <BackgroundAnimation client:load />
    </div>

    <Navbar client:load />

    <!-- Main content that grows to fill available space -->
    <main class="flex-grow">
      <slot />
    </main>

    <Footer />

    <Toaster client:load />
    <Analytics />
  </body>

  <style>
    html,
    body {
      margin: 0;
      width: 100%;
      height: 100%;
    }
  </style>
</html>
